body
{
    font-family: Cambria, 'Arimo' , sans-serif;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    position: relative;
    cursor: default;
    background-color: #fbf1cd;
}

.Staticheader
{
    /*background-color:#0070c0; */ /*background-color:#33cbfd;       /*background-color:#5ae3fd;*/
    background-color: #FFFFFF;
    height: 100px;
    top: 0px;
    width: 100%;
    z-index: 99;
    left: 0px;
}

.OrgNameH1
{
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font: 30px Copperplate Gothic Bold;
    color: #334f8c;
    position: absolute;
    top: -10px;
    left: 22%;
    text-align: center;
    vertical-align: top;
}

.OrgNameH2
{
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font: 30px Copperplate Gothic Bold;
    color: #ffffff;
    position: absolute;
    top: -15px;
    left: 42%;
    text-align: center;
    vertical-align: top;
}

.OrgNameH3
{
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font: 18px Cambria;
    color: #ffffff;
    position: absolute;
    top: 40px;
    left: 36%;
    text-align: center;
    vertical-align: top;
}

.main
{
    height: 535px;
    width: 100%;
}

.mainform
{
    top: 0px;
}

.underconstruction
{
    margin-left: 20%;
    background-image: url(../images/page_under_construction.png);
    background-repeat: no-repeat;
    height: 450px;
    width: 500px;
    background-position: center;
}

.FooterSub
{
    /*background-color: #33cbfd;*/
    background-color: #ffffff;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: Arial;
    text-align: center;
    color: #0000ff;
    font-size: 12px;
}

.InterestReminder
{
    background-color: #33cbfd;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: Arial;
    text-align: center;
    color: #0000ff;
    font-size: 14px;
}

.sortAsc
{
    background-image: url(images/asc.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    width: 200px;
}
.sortDesc
{
    background-image: url(images/desc.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    width: 200px;
}
